
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  background: #f1f1f1;
}
#header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #333;
    margin: 0;
    padding: 0;
}
#header a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
/* Style inputs */
input[type=text], select, textarea {
	
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}
input[type=date]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=time]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  	background-color: #CCD1D1 ;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;

  }
}
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}
#header a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.empty {
    background-color: #333;
    width: 100%;
    height: 300px;
    text-align: center;
}

.fundraiser {
    text-align: center;
    color: black;
    padding-top: 120px;
    color: #333;
    font-size: 2.3em;
}
.fundraiser h2 {
    background-color: white;
    width: 35%;
    padding: 20px;
    margin-left: 30%;
    border-radius: 50%;
    transition: .3s;
}

.fundraiser a {
    color: #333;
    text-decoration: none;
}
.fundraiser h2:hover{
    background-color: rgb(146, 130, 130);
    opacity:1;
    color: #ffffff;
}

.title img {
    min-width: 70px;
}

.title {
    display: flex;
}

.navbar li,
ul>li {
    list-style-type: none;
}

.navbar li,
.title,
img {
    padding: 0;
    margin: 0;
}

.navbar ul,
.navbar li>ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.navbar li:hover {
    background-color: #555;
}




.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #777a7c;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #777a7c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}





.button {
    margin: 0;
    position: absolute;
    bottom: 0;
}



.toggle {
    position: absolute;
    top: 1.5em;
    right: 1em;
    width: 41px;
    height: 31px;
    display: none;
    flex-direction: column;
    justify-content: space-around;

}

.toggle .link {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 4px;
}





#share {
    max-width: 100%;
    margin: 0;
}

label,

a {
    color: white;
}

.footer {
    clear: left;
    background-color: #24262b;
    margin: 0;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 40px;
}

.fotter-container {
    max-width: 100%;
    padding: 10px;
}

.col {
    width: 25%;
    padding: 0px 10px;
}

.col-1 {
    width: 15%;
	color: white;
}

.row-2 {
    text-align: center;
    width: 100%;
	color: white;
}

.col-2 {
    margin: 0px;
    padding: 0;
}

.col-4 {
    text-align: center;
}

.col h3 {
    color: white;
}

.social-links img {
    width: 40px;
}

.social-links a {
    background-color: rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
}

.social-links a:hover {
    background-color: #ffffff;
}

.footer .col:not(:last-child) a:hover {
    padding-left: 10px;
}

@media (max-width:720px),
(max-width:1050px) {
    .col {
        width: 50%;
        margin-bottom: 30px;
    }

    #header {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        height: 50%;
    }

    .empty {
        position: relative;
        height: 0;
    }

    .fundraiser {
        position: absolute;
        bottom: 5.90em;
        right: 8.46em;

    }

    .fundraiser h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 160px;
        height: 20px;
        font-size: 50%;
        border-radius: 10px;
    } 
    .toggle{
        display: flex;
    }
    .navbar{
        display: none; 
        width: 100%;
    }
    .navbar li {
        text-align: center;
        margin-left: 20px;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
        padding: 2px;
    }
    .navbar li a{
        padding: .5rem;
    }
    .navbar.active{
        display: flex;
    }
    .paragraph {
        display: none;
    }
}

@media(max-width:1050px) {
    .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 400px;
        grid-gap: 40px;
        z-index: 2;
        font-size: 0.8em;
    }

    .gallery-item {
        border: none;
        box-shadow: 1px 2px 3px black;
        border-radius: 4px;
        padding-bottom: 3px;
    }

    .quote {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 40%;
    }

    .quote blockquote {
        width: 90%;
        font-size: 17px;
        margin: 0 auto;
        padding: 0;
    }

    .quote .quote-3,
    .quote-2,
    .quote-4 {
        height: 110px;
    }

    .quote .quote-3 {
        position: relative;
        bottom: 43%;
    }

    .quote .quote-4 {
        position: relative;
        bottom: 86%;
    }

    .text .paragraph {
        display: flex;
        width: 100%;
        margin-top: 0;
        justify-content: center;
    }

    .button .D-S {
        padding: 5px;
        margin: 0;
        margin-left: 20px;
        width: 30%;
    }

    .button .donate {
        position: absolute;
        bottom: 0;
        left: 0px;
    }

    .button .share {
        position: absolute;
        bottom: 0;
        left: 40%;
    }

    .button {
        width: 100%;
        padding: 10px;
    }
}

@media(max-width:720px) {

    .container {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }

    .gallery-item {
        border: none;
        box-shadow: 1px 2px 3px black;
        border-radius: 4px;
        padding-bottom: 3px;
    }

    .button .D-S {
        padding: 0;
        margin: 0;
        margin-left: 20px;
        width: 30%;
    }

    .button .donate {
        position: absolute;
        bottom: 0;
        left: 0px;
    }

    .button .share {
        position: absolute;
        bottom: 0;
        left: 40%;
    }

    .button {
        width: 100%;
        padding: 10px;
    }

    .quote {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 40%;
    }

    .quote blockquote {
        width: 80%;
        font-size: 14px;
        margin: 0 auto;
        padding: 0;
    }

    .quote .quote-3,
    .quote-2,
    .quote-4 {
        height: 110px;
    }

    .quote .quote-3 {
        position: relative;
        bottom: 43%;
    }

    .quote .quote-4 {
        position: relative;
        bottom: 86%;
    }

    .footer {
        font-size: 0.75em;
    }
}